{% extends 'base.html.twig' %}

{% block title %}Créer une sortie | {{ parent () }}{% endblock %}

{% block main %}
    <div class="container">
        <h1> Créer une sortie </h1>
        {{ form_start(addSortieForm) }}
        <div class="row">
            <div class="col-md-6 ">{{ form_row(addSortieForm.nom) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6" >{{ form_row(addSortieForm.dateheureDebut) }}</div>
            <div class="col-md-6">{{ form_row(addSortieForm.dateLimite) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_row(addSortieForm.nbInscriptionMax) }}</div>
            <div class="col-md-4">{{ form_row(addSortieForm.duree) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_row(addSortieForm.ville) }}</div>
            <div class="col-md-4">{{ form_row(addSortieForm.lieu) }}</div>
        </div>
        <div class="row">
            <div class="col-md-6">{{ form_row(addSortieForm.infoSortie) }}</div>
        </div>
            {{ form_errors(addSortieForm) }}
            {{ form_widget(addSortieForm) }}
            <a href="{{ path('addlieu') }}" type="btn" class="btn-outline-light">Ajouter un lieu</a>
            {{ form_end(addSortieForm) }}
        </div>

    <script>

        $(document).ready(function () {
            $('#sortie_ville').change();
        });
        $('#sortie_ville').change(function (e) {

            var choix = $(this).val();
            $.ajax({
                url: "{{ path('requeteAjax') }}",
                type: 'POST',
                dataType: 'json',
                data: {'choix': choix},
                async: true,
                success: function (data) {

                    $('#sortie_lieu').empty();
                    $.each(data, function (id, lieu) {
                    $('#listeAttr').empty();
                    $('#sortie_lieu').append('<option value = "' + id + '">' + lieu.nom + '</option>')});
                }
            });
            e.preventDefault()
            ;
        });


    </script>
    </div>
{% endblock %}