{% extends 'base.html.twig' %}

{% block title %}Mes sorties | {{ parent () }} {% endblock %}

{% block main %}
    {{ parent () }}


    {% for message in app.flashes('notice') %}
        <div class="btn btn-outline-light col-12 bg-success">
        {{ message }}
        </div>
    {% endfor %}

    <h1>Bienvenue sur la page d'affichage des sorties</h1>
{{ form_start(searchForm ) }}
    <div class="row ">
        <div class="col-md-4">{{ form_row(searchForm.nomDeLaSortie) }}</div>
        <div class="col-md-3 offset-2 " >{{ form_row(searchForm.dateDepart) }}</div>
        <div class="col-md-3">{{ form_row(searchForm.dateFin) }}</div>

    </div>
    <div class="row">
        <div class="col-md-3">{{ form_row(searchForm.Site) }}</div>

        <div class="col-md-2">{{ form_row(searchForm.isOrganisateur) }}</div>
        <div class="col-md-2">{{ form_row(searchForm.isRegistred) }}</div>
        <div class="col-md-2">{{ form_row(searchForm.pastSorties) }}</div>
        {{ form_widget(searchForm) }}
    </div>

    {{ form_end(searchForm) }}



</div>
<div class="row">
    <table class="table table-striped table-dark text-center table-responsive ">
    <thead>
    <tr>
        <th scope="col">Nom</th>
        <th scope="col">Ville</th>
        <th scope="col">Date et heure</th>
        <th scope="col">Clôture</th>
        <th scope="col">Participants</th>
        <th scope="col">Etat</th>
        <th scope="col">Inscription</th>
        <th scope="col">Organisateur</th>
        <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for sortie in sorties %}
       {% if sortie.etat.libelle =='Publiée' or sortie.etat.libelle !='Crée' or sortie.organisateur.id==app.user.id %}
            <tr {% if sortie.organisateur == app.user %}class="bg-white"  {% endif %}>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.lieu.ville.nom }}</td>
            <td>{{ sortie.dateheureDebut| date(('d/m/Y - H:i:s')) }}</td>
            <td>{{ sortie.dateLimite| date(('d/m/Y'))}}</td>
            <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionMax }}</td>
            <td {% if sortie.etat.libelle =='Annulé' %}class="bg-outline-danger"  {% endif %}> {{ sortie.etat.libelle}}</td>
            {% set present=false %}
            <td>{% for participant in sortie.participants %}
                    {% if app.user.username == participant.username %}
                        {% set present=true %} {% endif %}
                {% endfor %}
                {% if present %} Inscrit(e) {% else %} Non inscrit(e) {% endif %}
            </td>
            <td><a href="{{ path('un-profil',{'id': sortie.organisateur.id} )}}">{{ sortie.organisateur.prenom}}</a></td>


            <td>
            {% if sortie.etat.libelle  != 'cree'  %}
                <a href="{{ path('une-sortie',{'id': sortie.id}) }}" class="btn btn-outline-info btn-sm" type="button">Afficher</a>{% endif %}

            {% if present and sortie.dateLimite > date() and sortie.etat.id!=3%}
                <a href="{{ path ('desistement', {'id': sortie.id}) }}" class="btn btn-outline-dark btn-sm" type="button">Se désister</a>{% endif %}
{#                {% if date(user.created_at) < date() %}#}
{#                    #}{# always! #}
{#                {% endif %}#}
            {% if present==false and sortie.dateLimite > date() and sortie.etat.id==2 and sortie.participants.count < sortie.nbInscriptionMax %}

                <a href="{{ path ('inscription',{'id': sortie.id}) }}"  class="btn btn-outline-success btn-sm" type="button">S'inscrire</a>


                {% endif %}


            {% if sortie.etat.libelle == 'cree' and   sortie.organisateur.id==app.user.id and sortie.dateLimite > date() and sortie.etat.id!=3%}
                <a href="{{ path('publier', {'id': sortie.id}) }}"   class="btn btn-outline-success btn-sm"  type="button">Publier</a>
            {% endif %}


            {% if sortie.organisateur.id == app.user.id and sortie.etat.id != 4 and sortie.etat.id != 3 and sortie.etat.id != 5 %}
                <a href="{{ path ('annulerSortie',{'id': sortie.id}) }}" class="btn btn-outline-danger btn-sm"   type="button">Annuler</a>
            {% endif %}
            </td>


        </tr>
       {% endif %}


    {% endfor %}

    </tbody>
    </table>
</div>



{% endblock %}



