

{% extends 'base.html.twig' %}

{% block title %}Mes sorties | {{ parent () }} {% endblock %}

{% block body %}
    {{ parent () }}
    {{ form(searchForm) }}
    <h1>Bienvenue sur la page d'affichage des sorties</h1>
    <table class="table">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Nom</th>
        <th scope="col">Ville</th>
        <th scope="col">Date et heure</th>
        <th scope="col">Clôture</th>
        <th scope="col">Participants</th>
        <th scope="col">Etat</th>
        <th scope="col">Inscription</th>
        <th scope="col">Organisateur</th>
        <th scope="col">Actions</th>




    </tr>
    </thead>
    <tbody>
    {% for sortie in sorties %}
{#        {% if sortie.etat.libelle !='cree' or sortie.etat.libelle!='annule' or sortie.organisateur.id==app.user.id %}#}
            <tr>
                <td>{{ sortie.id }}</td>
            <td>{{ sortie.nom }}</td>
            <td>{{ sortie.lieu.ville.nom }}</td>
            <td>{{ sortie.dateheureDebut| date(('d/m/Y - H:i:s')) }}</td>
            <td>{{ sortie.dateLimite| date(('d/m/Y'))}}</td>
            <td>{{ sortie.participants.count }}/{{ sortie.nbInscriptionMax }}</td>
            <td> {{ sortie.etat.libelle}}</td>
            {% set present=false %}
            <td>{% for participant in sortie.participants %}
                    {% if app.user.username == participant.username %}
                        {% set present=true %} {% endif %}
                {% endfor %}
                {% if present %} Inscrit(e) {% else %} Non inscrit(e) {% endif %}
            </td>
            <td>{{ sortie.organisateur.prenom}}</td>


            <td>
            {% if sortie.etat.libelle  != 'cree'  %}
                <a href="#" class="btn-success" type="button">Afficher</a>{% endif %}

            {% if present and sortie.dateLimite > date() %}
                <a href="{{ path ('desistement', {'id': sortie.id}) }}" class="btn-success" type="button">Se désister</a>{% endif %}
{#                {% if date(user.created_at) < date() %}#}
{#                    #}{# always! #}
{#                {% endif %}#}
            {% if present==false and sortie.dateLimite > date() %}

                <a href="{{ path ('inscription',{'id': sortie.id}) }}"  class="btn-success" type="button">S'inscrire</a>


                {% endif %}

            {% if sortie.organisateur.id == app.user.id and sortie.dateLimite > date()%}
                <a href="{{ path ('modifierSortie',{'id': sortie.id}) }}"  class="btn-success" type="button">Modifier</a>

            {% endif %}
            {% if sortie.etat.libelle == 'cree' and   sortie.organisateur.id==app.user.id and sortie.dateLimite > date() %}
                <a href="#" class="btn-success"  type="button">Publier</a>
            {% endif %}


            {% if sortie.organisateur.id == app.user.id %}
                <a href="#" class="btn-success" type="button">Annuler</a>
            {% endif %}
            </td>


        </tr>



    {% endfor %}

    </tbody>
    </table>




{% endblock %}



