{% extends 'base.html.twig' %}

{% block title %}Ajouter un participant || {{ parent () }} {% endblock%}

{% block main %}
    <div class="container">
        <div class="fondp">
    <h1>Ajouter un participant</h1>

    <div>
        {{ form_start(registerForm) }}
        {{ form_widget(registerForm) }}
        <button type="submit">Enregister</button>
        {{ form_end(registerForm) }}
    </div>
        </div>
    </div>
    <a href="{{ path('import') }}">Importer fichier csv</a>
{% endblock %}