{% extends ('base.html.twig') %}

{% block title %}Afficher un profil | {{ parent () }} {% endblock%}

{% block main %}
    <div class="container">

    <h1>Profil de {{ unProfil.username }}</h1><table class="table table table-striped table-dark text-center table-responsive">
    <thead>
    <tr>
       {# <th scope="col">Id</th> #}
        <th scope="col">Picture</th>
        <th scope="col">Nom</th>
        <th scope="col">Prénom</th>
        <th scope="col">Site</th>
    </tr>
    </thead>
    <tbody>

        {#        {% if sortie.etat.libelle !='cree' or sortie.etat.libelle!='annule' or sortie.organisateur.id==app.user.id %}#}
        <tr>
           {# <td>{{ unProfil.id }}</td> #}
            <td>{% if unProfil.picture == true %}<img src="{{ asset ('img/') ~ unProfil.picture }}"  id="imgProfil"  alt="Avatar">{% else %}<img src="{{ asset ('img/default.png')}}" alt="Avatar">{% endif %}</td>
            <td>{{ unProfil.nom }}</td>
            <td>{{ unProfil.prenom }}</td>
            <td> {{ unProfil.site.nom}}</td>
        </tr>

    </tbody>
</table>
{% if app.user== unProfil %}
    <a href="{{ path ('monProfil',{'id': unProfil.id })}}"class="btn btn-outline-success btn-sm">Modifier mon profil</a>
{% endif %}

    </div>

{% endblock %}